<div class="welcome_city">


<h1>Howdy, surely there's some tasty places in <%= @city.name %> </h1>


<% for gastro in @city.gastros %>
<p>
  <a href='/gastronomies/<%=gastro.id%>'>
    <%= gastro.name %>
  </a>
</p>

<% end %>
<p>Add a new place to <a href="/cities/<%= @city.id %>/gastronomies/new">eat </a> in <%= @city.name %>!!!</p>
</div>
