<h1>Whoa some tasty eats to be had in <%= @gastronomy.name %></h1>



<p>If you wanna eat here it's at <%= @gastronomy.address%></p>
<p>You can some tasty tasty <%= @gastronomy.food%></p>
<p>They serve <%= @gastronomy.alcohol%></p>

<p>Add a new place to <a href="/gastronomies/new">eat!!!</a></p>
<p>Get outta my life <a href="/gastronomies/delete"><%= @gastronomy.name %></a></p>
