
<div class="countries">
 <div class="countries-header">


 <p>It's a me mario</p>
  <p>Tell me which country ya wanna to eat in..</p>
 </div>

 <% for country in @countries %>
 <p><%= country.name() %></p>
 <p> See <a href="/countries/<%= country.id %>">more</a></p>
 <p>Edit <a href= '/countries/edit/<%= country.id %>'>country</a></p>

 <p class="travelled"><%= country.travelled() %></p>
  <form class="" action="/countries/delete/<%= country.id %>" method="post">
 <input type="submit" name="countries/delete" value="Delete country">
 </form>

 <% end %>
 <p>Add another <a href="/countries/new">country</a></p>
</div>
